* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
}

.close {
  text-align: start;
  width: 100vw;
  height: 100vh;
  padding-left: 7.5%;
  padding-top: 5%;
  padding-right: 10%;
  top: 0%;
  left: -110%;
  color: #fff;
  background-color: #272a31f7;
  opacity: 98%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
}

.close.active {
  left: 0%;
}

.close-list a {
  color: #fff;
  text-decoration: none;
}

.close-list {
  list-style-type: none;
  font-size: 30px;
  padding: 3%;
  line-height: 10vh;
  margin-bottom: 50px;
}

.cross {
  text-align: right;
  font-size: 30px;
  cursor: pointer;
}

.navigation {
  display: none;
}

.hamburger {
  color: #808080;
  background: none;
  border: none;
  font-size: 30px;
  padding: 3%;
  cursor: pointer;
}

.hamburger.active {
  color: #808080;
}

.intro {
  background: url("images/background-capstone1.png");
  background-position: center;
  padding: 2rem 1rem;
}

.hello {
  color: #f39c12;
  font-weight: 300;
}

.title {
  color: #808000;
  font-size: 10vw;
  font-weight: 900;
  text-shadow: 0.03em 0.03em 0.02em #0009;
}

.description {
  color: #000;
  border: 4px solid #fff;
  padding: 4%;
  background-color: #f7f7f7;
}

.date {
  color: #808080;
  font-weight: 900;
  margin-top: 40px;
  padding: 5%;
}

.location {
  color: #000;
  padding-left: 5%;
}

.main-program {
  background-image: url("./images/background-capstone2.png");
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
}

.subtitle {
  text-align: center;
  color: #fff;
}

.linea {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0 auto 54px;
}

.item-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: stretch;
  background-color: #fff1;
  border: 1px solid rgb(39, 42, 50);
  padding: 1rem;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  text-align: start;
}

.img-title {
  flex-grow: 1;
  font-size: 1.5rem;
  color: rgb(239, 81, 60);
}

.img-des {
  color: #fff;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #ec5242;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-decoration: none;
  border: 1px solid #d35400;
  cursor: pointer;
}

.space {
  width: 53px;
  height: 16px;
  margin: 0 auto 54px;
}

.speakers-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.img-speakers {
  width: 10rem;
  height: 10rem;
}

.cards {
  display: flex;
  margin-left: 5%;
}

.info-container {
  padding: 4%;
  margin: 2%;
}

.img-name {
  color: #000;
  font-size: 1.3rem;
}

.card-sub {
  color: #cc4030;
  font-size: 1rem;
}

.info {
  color: #272a31;
  font-size: 1rem;
}

.sponsor-title {
  margin-top: 10%;
  text-align: center;
}

.sponsor-img {
  margin-top: 5%;
  width: 25rem;
  list-style-type: none;
}

.sponsor {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 5%;
  gap: 8rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #2e2e2e;
  padding: 10%;
}

.slogan {
  color: #fff;
  font-size: 2rem;
}

.copyright {
  color: #fff;
  font-size: 0.8rem;
  margin-left: 5%;
  margin-top: 5%;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .intro {
    padding: 12rem;
    background-position: center;
    padding-top: 5%;
    margin-bottom: -10%;
  }

  .hello {
    font-size: 2.5rem;
  }

  .title {
    font-size: 4rem;
  }

  .description {
    max-width: 37rem;
  }

  .date {
    font-size: 50px;
    margin-top: 0%;
    padding-top: 2%;
  }

  .location {
    font-size: 30px;
    margin-top: -5%;
  }

  .div-list {
    display: flex;
    flex-direction: row;
  }

  .item-list {
    display: block;
    width: 50%;
    padding: 3rem;
  }

  .square {
    padding: 1.5rem 1rem;
    margin-left: 30%;
    margin-right: 30%;
  }

  .position {
    
  }
}
